<!-- Default home page -->
<div class="" xmlns="http://www.w3.org/1999/html">
  <div class="main container">
    <div class="row">
      <div class="col s12 m12">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">History</span>

            <p>The first working 3D printer was created by Richard Hull in 1984 and named the process as stereo
              lithography He took a patent for the process in 1986.</p>

            <p>
              Early AM equipment and materials were developed in the 1980s. In 1984, Chuck

              Hull of 3D Systems Corp, invented a process known as stereo lithography

              employing UV lasers to cure photopolymers. Hull also developed the STL file

              format widely accepted by 3D printing software, as well as the digital slicing and

              infill strategies common to many processes today. Also during the 1980s, the metal

              sintering forms of AM were being developed (such as selective laser sintering and

              direct metal laser sintering), although they were not yet called 3D printing or AM

              at the time. In 1990, the plastic extrusion technology most widely associated

              with the term “3D printing” was commercialized by Stratasys under the

              name fused deposition modelling (FDM). In 1995, Z Corporation

              commercialized an MIT-developed additive process under the trademark 3D

              printing (3DP), referring at that time to a proprietary process inkjet deposition of

              liquid binder on powder.
            </p>
            <br/>
            <p>

              AM technologies found applications starting in the 1980s in product development,

              data visualization, rapid prototyping, and specialized manufacturing. Their

              expansion into production (job production, mass production, and distributed

              manufacturing) has been under development in the decades since. Industrial

              production roles within the metalworking industries achieved significant scale for

              the first time in the early 2010s. Since the start of the 21st century there has been a

              large growth in the sales of AM machines. Applications are many, including

              architecture, construction (AEC), industrial design, automotive, aerospace,

              military, engineering, dental and medical industries, biotech (human tissue

              replacement), fashion, footwear, jewellery, eyewear, education, geographic

              information systems, food, and many other fields.
            </p>
          </div>
        </div>
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">What is 3D Printing?</span>

            <p>3D printing or Additive manufacturing is a process of making three dimensional solid object

              from a digital file in which the required object is created by laying down successive layers of

              material until the object is created.
            </p>
            <br/>
            <p>

              Additive manufacturing, often referred to as 3D printing, has the potential to vastly

              accelerate innovation, compress supply chains, minimize materials and energy

              usage, and reduce waste.
            </p>
            <br/>
            <p>

              Additive manufacturing is a new way of making products and components from a

              digital model. Like an office printer that puts 2D digital files on a piece of paper, a

              3D printer creates components by depositing thin layers of material one after

              another ,only where required , using a digital blueprint until the exact component

              has been created.
            </p>
            <br/>
            <p>

              Interest in additive techniques is growing swiftly as applications have progressed

              from rapid prototyping to the production of end-use products. Additive equipment

              can now use metals, polymers, composites, or other powders to “print” a range of

              functional components, layer by layer, including complex structures that cannot be

              manufactured by other means.
            </p>
            <br/>
            <p>

              By eliminating production steps and using substantially less material,

              ‘additive’ processes could be able to reduce waste and save more than 50% of

              energy compared to today’s ‘subtractive’ manufacturing processes, and reduce

              material costs by up to 90%. The use of additive manufacturing can potentially

              benefit a wide range of industries including defence, aerospace, automotive,

              biomedical, consumer products, and metals manufacturing.
            </p>
            <br/>
            <p>

              3D-Printer is a machine reminiscent of the Star Trek Replicator, something

              magical that can create objects out of thin air. It can “print” in plastic, metal,

              nylon, and over a hundred other materials. It can be used for making nonsensical

              little models like the over-printed Yoda, yet it can also print manufacturing

              prototypes, end user products, quasi-legal guns, aircraft engine parts and even

              human organs using a person’s own cells.
            </p>
            <br/>
            <p>


              We live in an age that is witness to what many are calling the Third Industrial

              Revolution. 3D printing, more professionally called additive manufacturing, moves

              us away from the Henry Ford era mass production line, and will bring us to

              a new reality of customizable, one-off production.

            </p>
            <br/>
            <p>
              3D printers use a variety of very different types of additive manufacturing

              technologies, but they all share one core thing in common: they create a three

              dimensional object by building it layer by successive layer, until the entire object

              is complete. It’s much like printing in two dimensions on a sheet of paper, but with

              an added third dimension: UP. The Z-axis.

            </p>
            <br/>
            <p>

              Each of these printed layers is a thinly-sliced, horizontal cross-section of the

              eventual object. Imagine a multi-layer cake, with the baker laying down each layer

              one at a time until the entire cake is formed. 3D printing is somewhat similar, but

              just a bit more precise than 3D baking.

            </p>
            <br/>
            <p>

              In the 2D world, a sheet of printed paper output from a printer was “designed” on

              the computer in a program such as Microsoft Word. The file - the Word document

              which contains the instructions that tell the printer what to do.
            </p>
            <br/>
            <p>

              In the 3D world, a 3D printer also needs to have instructions for what to print. It

              needs a file as well. The file, a Computer Aided Design (CAD) file is created with

              the use of a 3D modeling program, either from scratch or beginning with a 3D

              model created by a 3D scanner. Either way, the program creates a file that is sent

              to the 3D printer. Along the way, software slices the design into hundreds, or more

              likely thousands, of horizontal layers. These layers will be printed one atop the

              other until the 3D object is done.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
