<!-- Default home page -->
<div class="">
  <div class="main container">
    <div class="row container"></div>
    <div class="row">
      <div class="row">
        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/mobilecase.JPG">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Iphone Case</span>
              <!--<p><a href="#">This is a link</a></p>-->
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Iphone case<i
                  class="material-icons right">close</i></span>

              <div class="">
                <dl class="dl-horizontal">
                  <dt>Material</dt><dd>ABS</dd>
                  <dt>Color</dt><dd>Grey</dd>
                  <dt>Weight</dt><dd>12 gms</dd>
                  <dt>Dimensions</dt><dd>60X40X20 MM</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/marvin1.JPG">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Marvin Key chain</span>
              <!--<p><a href="#">This is a link</a></p>-->
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Marvin Key chain<i class="material-icons right">close</i></span>

              <div class="">
                <dl class="dl-horizontal">
                  <dt>Material</dt><dd>ABS</dd>
                  <dt>Color</dt><dd>White</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/tanker1.JPG">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Tanker</span>
              <!--<p><a href="#">This is a link</a></p>-->
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Tanker<i class="material-icons right">close</i></span>

              <div class="">
                <dl class="dl-horizontal">
                  <dt>Material</dt><dd>ABS</dd>
                  <dt>Color</dt><dd>White</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/floorplan.JPG">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Floor Plan</span>
              <!--<p><a href="#">This is a link</a></p>-->
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Floor Plan<i
                  class="material-icons right">close</i></span>

              <div class="">
                <dl class="dl-horizontal">
                  <dt>Material</dt><dd>ABS</dd>
                  <dt>Color</dt><dd>White</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/building1.JPG">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Building</span>
              <!--<p><a href="#">This is a link</a></p>-->
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Building<i class="material-icons right">close</i></span>

              <div class="">
                <dl class="dl-horizontal">
                  <dt>Material</dt><dd>ABS</dd>
                  <dt>Color</dt><dd>Blue</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/dna.JPG">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Dna</span>
              <!--<p><a href="#">This is a link</a></p>-->
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Dna<i class="material-icons right">close</i></span>

              <div class="">
                <dl class="dl-horizontal">
                  <dt>Material</dt><dd>ABS</dd>
                  <dt>Color</dt><dd>Grey</dd>
                  <dt>Weight</dt><dd>125X55X50gms</dd>
                  <dt>Dimensions</dt><dd>60X40X20 MM</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/skull1.JPG">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Skull</span>
              <!--<p><a href="#">This is a link</a></p>-->
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Skull<i class="material-icons right">close</i></span>

              <div class="container">
                <dl class="dl-horizontal">
                  <dt>Material</dt><dd>ABS</dd>
                  <dt>Color</dt><dd>White</dd>
                  <dt>Weight</dt><dd>58gms</dd>
                  <dt>Dimensions</dt><dd>60X40X20 MM</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/ear.JPG">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Ear</span>
              <!--<p><a href="#">This is a link</a></p>-->
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Ear<i class="material-icons right">close</i></span>

              <div class="container">
                <dl class="dl-horizontal">
                  <dt>Material</dt><dd>ABS</dd>
                  <dt>Color</dt><dd>Grey</dd>
                  <dt>Weight</dt><dd>12 gms</dd>
                  <dt>Dimensions</dt><dd>60X40X20 MM</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/innerear2.JPG">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Inner Ear</span>
              <!--<p><a href="#">This is a link</a></p>-->
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Inner Ear<i class="material-icons right">close</i></span>

              <div class="">
                <dl class="dl-horizontal">
                  <dt>Material</dt><dd>ABS</dd>
                  <dt>Color</dt><dd>White</dd>
                  <dt>Weight</dt><dd>20gms</dd>
                  <dt>Dimensions</dt><dd>105X65X55 MM</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/ball-bearing.JPG">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Ball Bearing</span>
              <!--<p><a href="#">This is a link</a></p>-->
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Ball Bearing<i
                  class="material-icons right">close</i></span>

              <div class="">
                <dl class="dl-horizontal">
                  <dt>Material</dt><dd>ABS</dd>
                  <dt>Color</dt><dd>White</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/blades.JPG">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Blades</span>
              <!--<p><a href="#">This is a link</a></p>-->
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Blades<i class="material-icons right">close</i></span>

              <div class="">
                <dl class="dl-horizontal">
                  <dt>Material</dt><dd>ABS</dd>
                  <dt>Color</dt><dd>White</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/grill.JPG">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Grills</span>
              <!--<p><a href="#">This is a link</a></p>-->
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Grills<i class="material-icons right">close</i></span>

              <div class="">
                <dl class="dl-horizontal">
                  <dt>Material</dt><dd>ABS</dd>
                  <dt>Color</dt><dd>Blue</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/cybapenstand.JPG">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Pen Stand</span>
              <!--<p><a href="#">This is a link</a></p>-->
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Pen Stand<i class="material-icons right">close</i></span>

              <div class="">
                <dl class="dl-horizontal">
                  <dt>Material</dt><dd>ABS</dd>
                  <dt>Color</dt><dd>Blue</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
