<!-- Default home page -->
<div class="">
  <div class="main container">
    <div class="row container"></div>
    <div class="row">
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/floorplan.jpg">
              <span class="card-title">Architectural</span>
            </div>
            <div class="card-content">
              <p>Add a new dimensions to your property listings by showcasing your floor plans in 3D.</p>
            </div>
            <div class="card-action">
              <a href="/architectural-designs">Find out more</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/ear.jpg">
              <span class="card-title">Educational</span>
            </div>
            <div class="card-content">
              <p>3D Printing is changing the dyanmic of consumer culture, transforming
                students from passive consumers to active creators.
              </p>
            </div>
            <div class="card-action">
              <a href="/educational-designs">Check out more</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/mobilecase.jpg">
              <span class="card-title">Accessories</span>
            </div>
            <div class="card-content">
              <p>Imagine the possibility of awesomeness 3d printed devices can bring into your life.</p>
            </div>
            <div class="card-action">
              <a href="/accessories">Explore the coolness</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
